<ActionBar title="" color="blue" backgroundColor="#f2f2f2">
    <ActionBar.titleView>
        <StackLayout orientation="vertical">
            <StackLayout orientation="horizontal">
                <Image marginLeft="3%" width="12%" height="100%" src="~/assets/image/logo-alten-black.png">
                </Image>
                <StackLayout paddingTop="5%" orientation="vertical">
                    <Label marginLeft="10%" fontWeight="bold" fontSize="17vh" color="black" text="Blabla"></Label>
                    <Label marginLeft="10%" fontWeight="bold" paddingTop="5%" fontSize="17vh" color="black"
                        text="2019"></Label>
                </StackLayout>
            </StackLayout>
            <StackLayout orientation="horizontal">
                <label text="Nouveau candidat" color="#0085c7"></label>
            </StackLayout>
        </StackLayout>
    </ActionBar.titleView>
</ActionBar>
<StackLayout orientation="vertical">
    <!-- <StackLayout orientation="vertical" class="round-border">
        <button text="Prénom"></button>
        <button text="Nom"></button>
        <button text="Téléphone"></button>
        <button text="Adresse email"></button>
    </StackLayout> -->
    <!-- <StackLayout marginBottom="40px" height="4px" backgroundColor="#0085c7"></StackLayout> -->
    <!-- <StackLayout orientation="vertical" class="round-border">
        <label text="Photo du CV :"></label>
        <StackLayout orientation="horizontal">
            <button text="Photo" backgroundColor="black"></button>
            <button text="CV" backgroundColor="black"></button>
        </StackLayout>
    </StackLayout> -->
    <!-- <button text="Commencer l'entretien"></button> -->
</StackLayout>