<ActionBar title="" color="blue" backgroundColor="#f2f2f2">
    <ActionBar.titleView>
        <StackLayout orientation="vertical">
            <StackLayout orientation="horizontal">
                <Image marginLeft="3%" width="12%" height="100%" src="~/assets/image/logo-alten-black.png">
                </Image>
                <StackLayout paddingTop="5%" orientation="vertical">
                    <Label marginLeft="10%" fontWeight="bold" fontSize="17vh" color="black" text="Blabla"></Label>
                    <Label marginLeft="10%" fontWeight="bold" paddingTop="5%" fontSize="17vh" color="black"
                        text="2019"></Label>
                </StackLayout>
            </StackLayout>
            <StackLayout orientation="horizontal">
                <label marginLeft="30%" text="Nouveau candidat" color="#0085c7"></label>
            </StackLayout>
        </StackLayout>
    </ActionBar.titleView>
</ActionBar>
<StackLayout orientation="vertical">
    <StackLayout orientation="vertical" margin="5%" class="round-border">
        <TextField hint="Prénom"></TextField>
        <TextField hint="Nom"></TextField>
        <TextField hint="Téléphone"></TextField>
        <TextField hint="Adresse email"></TextField>
    </StackLayout>
    <StackLayout marginBottom="40px" height="4px" backgroundColor="#0085c7"></StackLayout>
    <StackLayout orientation="vertical" margin="2%" class="round-border">
        <label text="Photo du CV :"></label>
        <GridLayout columns="50*, 50*">
            <button text="Photo" col="0" backgroundColor="lightgray" marginLeft="10%" marginRight="10%" marginTop="20%" marginBottom="20%"></button>
            <button text="CV" col="1" backgroundColor="lightgray" marginLeft="10%" marginRight="10%" marginTop="20%" marginBottom="20%"></button>
        </GridLayout>
    </StackLayout>
    <button text="Commencer l'entretien" marginLeft="10%" marginRight="10%"></button>
</StackLayout>