/* Add mobile styles for the component here.  */
.list-group{
    border-bottom-width: 1;
    border-color: #C0C0C8;
}

.title {
    font-size: "30";
}

ActionItem {
    color:blue; 
    background-color: blue !important;
}

Label{
    margin-left: "3%";
}