<ActionBar title="" color="blue" backgroundColor="#f2f2f2">
    <ActionBar.titleView>
        <StackLayout orientation="vertical">
            <Image width="5%" marginRight="3%" marginTop="15px" horizontalAlignment="right"
                src="~/assets/image/plus_icon.png">
            </Image>
            <StackLayout orientation="horizontal">
                <Image marginLeft="3%" width="12%" height="100%" src="~/assets/image/logo-alten-black.png">
                </Image>
                <StackLayout paddingTop="5%" orientation="vertical">
                    <Label marginLeft="10%" fontWeight="bold" fontSize="17vh" color="black" text="Blabla"></Label>
                    <Label marginLeft="10%" fontWeight="bold" paddingTop="5%" fontSize="17vh" color="black"
                        text="2019"></Label>
                </StackLayout>
            </StackLayout>
        </StackLayout>
    </ActionBar.titleView>
</ActionBar>
<StackLayout orientation="vertical">
    <!-- <SearchBar hint="Rechercher un candidat" [text]="searchPhrase" (textChange)="onTextChanged($event)" (submit)="onSubmit($event)" 
    color="white" textFieldBackgroundColor="darkgray" textFieldHintColor="lightgray"></SearchBar> -->
    <Label marginTop="60px" marginBottom="20px" color="#0085c7" text="CANDIDATS" class="title"></Label>
    <StackLayout marginBottom="40px" height="4px" backgroundColor="#0085c7"></StackLayout>
    <ScrollView backgroundColor="white">
        <StackLayout orientation="vertical">
                <StackLayout marginLeft="2%" marginRight="2%" marginBottom="15px" orientation="vertical" backgroundColor="#E6E6E9" 
                            *ngFor="let dataitem of candidates" class="list-group" (itemTap)="onItemTap($event)">
                            <Label marginTop="15px" color="#0085c7" [text]="dataitem['forum avis']"></Label>
                            <Label color="#0085c7" [text]="dataitem.diploma" ></Label>
                            <Label marginBottom="40px" color="#0085c7" [text]="dataitem.contract" ></Label> 
                </StackLayout>
        </StackLayout>

    </ScrollView>

    <!-- <ListView width="100%" [items]="candidates" (itemTap)="onItemTap($event)">
        <ng-template let-dataitem="item" let-i="index" let-odd="odd" let-even="even">
            <ScrollView backgroundColor="white">
                <StackLayout marginLeft="2%" marginRight="2%" marBottom="2%" orientation="vertical" backgroundColor="lightgray">
                        <Label color="blue" class="test" [text]="dataitem['forum avis']"></Label>
                         <Label color="blue" class="textColor" [text]="dataitem.note" col="1" row='0'></Label>
                        <Label color="blue" class="textColor" [text]="dataitem.diploma" ></Label>
                        <Label color="blue" class="textColor" [text]="dataitem.contract" ></Label>
                    </StackLayout>
            </ScrollView>
        </ng-template>
    </ListView> -->
</StackLayout>

