<ActionBar title="" color="blue" backgroundColor="#f2f2f2">
    <ActionBar.titleView>
        <StackLayout orientation="vertical">
            <Image width="5%" marginRight="3%" marginTop="15px" horizontalAlignment="right"
                src="~/assets/image/plus_icon.png">
            </Image>
            <StackLayout orientation="horizontal">
                <Image marginLeft="3%" width="12%" height="100%" src="~/assets/image/logo-alten-black.png">
                </Image>
                <StackLayout paddingTop="5%" orientation="vertical">
                    <Label marginLeft="10%" fontWeight="bold" fontSize="17vh" color="black" text="Blabla"></Label>
                    <Label marginLeft="10%" fontWeight="bold" paddingTop="5%" fontSize="17vh" color="black"
                        text="2019"></Label>
                </StackLayout>
            </StackLayout>
            <StackLayout orientation="horizontal">
                <TextField width="90%" hint="Recherche forum" id="searchForum" (blur)="$event.object.dismissSoftInput()" (returnPress)="loseFocus($event)" [(ngModel)]="filter" (ngModelChange)='filter=$event' (textChange)="applySearch($event)"></TextField>
                <ng-container *ngIf="!isShowed(); else elseBlockChevron">
                    <Image paddingTop="10%" height="90%" marginRight="3%" src="~/assets/image/chevron_down.png" (tap)="show(true)">
                    </Image>
                </ng-container>
                <ng-template #elseBlockChevron>
                    <Image paddingTop="10%" height="90%" marginTop="3%" marginRight="3%" src="~/assets/image/chevron_up.png" (tap)="show(false)">
                    </Image>
                </ng-template>
            </StackLayout>
        </StackLayout>
    </ActionBar.titleView>
</ActionBar>
<Scrollview>
    <Stacklayout orientation="vertical" (tap)="clearFocus()">
        <Stacklayout *ngFor="let item of index">
            <ng-container *ngIf="isBordered(item); else elseBlockLetter">
                <Label color="black" backgroundColor="#f2f2f2" borderBottomWidth="5px" borderBottomColor="#bfbfbf"
                    fontSize="26vh" paddingLeft="4%" [text]=item.name (tap)="setData(item.name)"></Label>
            </ng-container>
            <ng-template #elseBlockLetter>
                <Label color="black" backgroundColor="#f2f2f2" fontSize="26vh" paddingLeft="4%" [text]=item.name
                    (tap)="setData(item.name)"></Label>
            </ng-template>
            <Stacklayout>
                <Stacklayout *ngFor="let forum of item.forumList; let i = index">
                    <ng-container *ngIf="isLast(i,item.forumList.length); else elseBlockForum">
                        <Label color="black" fontSize="25vh" marginLeft="3%" marginRight="3%"
                            borderBottomColor="lightgray" borderBottomWidth="5px" [text]=forum.name></Label>
                    </ng-container>
                    <ng-template #elseBlockForum>
                        <Label color="black" fontSize="25vh" marginLeft="3%" marginRight="3%" [text]=forum.name></Label>
                    </ng-template>
                </Stacklayout>
            </Stacklayout>
        </Stacklayout>
    </Stacklayout>
</Scrollview>