<ActionBar title="Mobilité" color="blue" backgroundColor="#f2f2f2">
    <NavigationButton text="Go Back" ios.systemIcon="1" ios.position="left" android.systemIcon="ic_menu_back"
        (tap)="onNavTap()">
    </NavigationButton>
    <ActionBar.titleView>
        <StackLayout paddingTop="5%" paddingBottom="5%" orientation="vertical">
            <StackLayout orientation="horizontal">
                <Image marginLeft="3%" width="12%" height="100%" src="~/assets/image/logo-alten-black.png">
                </Image>
                <StackLayout paddingTop="5%" orientation="vertical">
                    <Label marginLeft="10%" fontWeight="bold" fontSize="17vh" color="black"
                        [text]="candidatFormService.forumName"></Label>
                    <Label marginLeft="10%" fontWeight="bold" paddingTop="5%" fontSize="17vh" color="black"
                        [text]="candidatFormService.forumYear"></Label>
                </StackLayout>
            </StackLayout>
        </StackLayout>
    </ActionBar.titleView>
</ActionBar>
<StackLayout>
    <Label text="Localisation :"></Label>
    <RadAutoCompleteTextView [items]="mobilityAvailable" suggestMode="Suggest" displayMode="Plain"
        (textChanged)="onTextChanged($event)">
        <SuggestionView tkAutoCompleteSuggestionView>
            <ng-template tkSuggestionItemTemplate let-item="item">
                <StackLayout orientation="vertical" padding="10">
                    <Label [text]="item.text"></Label>
                </StackLayout>
            </ng-template>
        </SuggestionView>
    </RadAutoCompleteTextView>
    <WrapLayout>
        <Label paddingTop="50" text="Dans un rayon de : "></Label>
        <TextField marginLeft="25" hint="Rayon" [(ngModel)]="entryUnit" keyboardType="number" width="75" height="50"
            textAlignment="center">
        </TextField>
        <ListPicker marginLeft="25" [items]="units" selectedIndex="0" height="100"
            (selectedIndexChange)="selectedIndexChanged($event)" class="p-15"></ListPicker>
    </WrapLayout>
    <Button className="mobiBtn" text="Ajouter" height="50"
        [isEnabled]="newMobility != '' && (entryUnit != undefined && entryUnit != '')"
        (tap)="addnewMobility()"></Button>
    <ScrollView left="20" top="200" id="allMobilities" height="100" width="300">
        <StackLayout>
            <ListView [items]="candidatFormService.candidat.mobilities" height="100" width="300"
                (itemTap)="deleteMobility($event)">
                <ng-template let-item="item">
                    <Label [text]="item.representation"></Label>
                </ng-template>
            </ListView>
        </StackLayout>
    </ScrollView>
    <DockLayout>
        <Button marginLeft="10" dock="left" text="Mobilité France" (tap)="addFranceMobility()" className="mobiBtn"
            width="150"></Button>
        <Button dock="left" marginLeft="10" text="Mobilité France sauf IDF" (tap)="addFranceWithoutIDFMobility()"
            className="mobiBtn" width="150"></Button>
    </DockLayout>

    <GridLayout columns="150,25,50,50,50" rows="50,auto,*">
        <Label paddingTop="15" row="0" col="0" text="Mobilité internationale ?"></Label>
        <Label paddingTop="15" row="0" col="2" text="Non"></Label>
        <Switch row="0" col="3" id="international" height="20"
            (checkedChange)="internationalChanged($event)" checked="{{isOkForInternational}}"></Switch>
        <Label paddingTop="15" row="0" col="4" text="Oui"></Label>
    </GridLayout>


</StackLayout>
<GridLayout height="60" verticalAlignment="bottom">
    <GridLayout columns="*, *, *, *, *" height="60" backgroundColor="#E6E6E9">
        <GridLayout #tabHighlight col="0" backgroundColor="#043962"></GridLayout>
        <GridLayout rows="40, 20" col="0" (tap)="selectTab(0)">
            <Image row="0" #image1 src="~/app/assets/mobility.png" height="30" width="30"></Image>
            <Label row="1" className="fontTab tabCurrent" text="Mobilité" horizontalAlignment="center"></Label>
        </GridLayout>
        <GridLayout rows="40, 20" col="1" (tap)="selectTab(1)">
            <Image row="0" #image2 src="~/app/assets/contrat.png" height="30" width="30"></Image>
            <Label row="1" className="fontTab" text="Contrat" horizontalAlignment="center"></Label>
        </GridLayout>
        <GridLayout rows="40, 20" col="2" (tap)="selectTab(2)">
            <Image row="0" #image3 src="~/app/assets/graduation.png" height="30" width="30"></Image>
            <Label row="1" className="fontTab" text="Formation" horizontalAlignment="center"></Label>
        </GridLayout>
        <GridLayout rows="40, 20" col="3" (tap)="selectTab(3)">
            <Image row="0" #image4 src="~/app/assets/competences.png" height="30" width="30"></Image>
            <Label row="1" className="fontTab" text="Compétences" horizontalAlignment="center"></Label>
        </GridLayout>
        <GridLayout rows="40, 20" col="4" (tap)="selectTab(4)">
            <Image row="0" #image5 src="~/app/assets/complement.png" height="30" width="30"></Image>
            <Label row="1" className="fontTab" text="Complément" horizontalAlignment="center"></Label>
        </GridLayout>
    </GridLayout>

</GridLayout>